* {
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.0001em;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 1000px;
    z-index: -1;
}

.scenario-container {
    position: relative;
    top: 8%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
        position: relative;
        padding-top: 2%;
        text-align: center;
        z-index: 1;
        color: white;
    }

    .timer {
        padding-top: 0;
        margin-top: 0;
    }
}

p {
    font-size: 1.2em;
}

/*mobile*/
@media (max-width: 1050px) {
    img {
        max-height: none;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.8em;
    }
}

@media (max-width: 650px) {
    .scenario-container {
        top: 0%;
    }

    h1 {
        font-size: 1.2em;
    }

    p {
        font-size: 1.0em;
    }
}

@media (max-width: 430px) {

    .scenario-container {
        top: -15%;
    }

    h1 {
        font-size: 1.0em;
    }

    p {
        font-size: 0.8em;
    }
}

@media (max-width: 385px) {
    .scenario-container {
        top: -5%;
    }
}