* {
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.0001em;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 1000px;
    z-index: -1;
} */

.scenario-card {
    position: relative;
    width: 100%;
    max-width: 800px;
    /* background-image: url("ScenarioWindow_TMP_long.png") top center / 100% 100% no-repeat; */
}

.scenario-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12% 8%;
    box-sizing: border-box;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    * {
        /* position: relative;
        padding-top: 2%; */
        z-index: 1;
        color: white;
    }

    h1 {
        margin-top: 15%;
        font-size: 3.5em;
        text-align: center;
    }

    p {
        margin-left: 10%;
        font-size: 1.2em;
        text-align: left;
    }

    .timer {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 1.2em;
    }

    img {
        display: block;
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-height: 600px;
        z-index: -1;
    }

    .super-creek-low-cortisol-dancing-gif {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 300px;
        opacity: 0.8;
    }
}

/*mobile*/
@media (max-width: 1050px) {
    img {
        max-height: none;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.8em;
    }
}

@media (max-width: 650px) {
    .scenario-container {
        top: 0%;
    }

    h1 {
        font-size: 1.2em;
    }

    p {
        font-size: 1.0em;
    }
}

@media (max-width: 430px) {

    h1 {
        font-size: 1.0em;
    }

    p {
        font-size: 0.8em;
    }
}